@model TFMGoSki.Dtos.ClassReservationDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClassReservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeRangeClassDto.StartDateOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeRangeClassDto.StartDateOnly)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeRangeClassDto.EndDateOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeRangeClassDto.EndDateOnly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeRangeClassDto.StartTimeOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeRangeClassDto.StartTimeOnly)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeRangeClassDto.EndTimeOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeRangeClassDto.EndTimeOnly)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPersonsBooked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberPersonsBooked)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @if (ViewData.ContainsKey("FromDetails") && (bool)ViewData["FromDetails"])
        {
            <div>
                <a asp-action="IndexUser">Back to my List</a>
            </div>
        }
        else
        {
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        }
    
    </form>
</div>
