@model TFMGoSki.Dtos.ClassReservationDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClassReservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd> 

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeRangeClassDto.StartDateOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeRangeClassDto.StartDateOnly)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeRangeClassDto.EndDateOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeRangeClassDto.EndDateOnly)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeRangeClassDto.StartTimeOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeRangeClassDto.StartTimeOnly)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTimeRangeClassDto.EndTimeOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTimeRangeClassDto.EndTimeOnly)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPersonsBooked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberPersonsBooked)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
