@model IEnumerable<TFMGoSki.Dtos.ClassReservationDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Class Reservation</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Clase</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Number Persons Booked</th>
                </tr>
            </thead>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ClientName</td>
                <td>@item.ClassName</td>
                <td>@item.ReservationTimeRangeClassDto.StartDateOnly.ToShortDateString()</td>
                <td>@item.ReservationTimeRangeClassDto.EndDateOnly.ToShortDateString()</td>
                <td>@item.ReservationTimeRangeClassDto.StartTimeOnly</td>
                <td>@item.ReservationTimeRangeClassDto.EndTimeOnly</td>
                <td>@item.NumberPersonsBooked</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
