@model TFMGoSki.Dtos.MaterialReservationDto

<h2>Reservation Details</h2>

<dl class="row">
    <dt class="col-sm-2">Client</dt>
    <dd class="col-sm-10">@Model.ClientName</dd>
    
    <dt class="col-sm-2">Total</dt>
    <dd class="col-sm-10">@Model.Total €</dd>
</dl>

<h4>Materials Reserved</h4>
<table class="table">
    <thead>
        <tr>
            <th>Material</th>
            <th>Price per Unit</th>
            <th>Time Range</th>
            <th>Number</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var cart in Model.reservationMaterialCartDto)
    {
        <tr>
            <td>@cart.MaterialName</td>
            <td>@cart.MaterialPrice?.ToString("C")</td>
            <td>
                @($"{cart.ReservationTimeRangeMaterialDto.StartDateOnly:dd/MM/yyyy} {cart.ReservationTimeRangeMaterialDto.StartTimeOnly:hh\\:mm} - {cart.ReservationTimeRangeMaterialDto.EndDateOnly:dd/MM/yyyy} {cart.ReservationTimeRangeMaterialDto.EndTimeOnly:hh\\:mm}")
            </td>
            <td>@cart.NumberMaterialsBooked</td>
            <td>@(cart.MaterialPrice * cart.NumberMaterialsBooked)</td>
        </tr>
    }
    </tbody>
</table>


