@model TFMGoSki.Dtos.ReservationTimeRangeClassDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservationTimeRangeClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingStudentsQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainingStudentsQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTimeOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTimeOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTimeOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTimeOnly)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
