@model TFMGoSki.Dtos.ClassDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentQuantity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassLevel)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
    </dl>

    <h4>Reservations Time Range</h4>
    <hr />
    @if (Model.ReservationTimeRangeClassDto != null && Model.ReservationTimeRangeClassDto.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Remaining Students</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model.ReservationTimeRangeClassDto)
                {
                    <tr>
                        <td>@reservation.RemainingStudentsQuantity</td>
                        <td>@reservation.StartDateOnly</td>
                        <td>@reservation.EndDateOnly</td>
                        <td>@reservation.StartTimeOnly</td>
                        <td>@reservation.EndTimeOnly</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No reservations found for this class.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> 
    <a asp-controller="ReservationTimeRangeClasses" asp-action="Create" asp-route-classId="@Model.Id" class="btn btn-success">
        Create a booking timetable
    </a>
</div>
