@model IEnumerable<TFMGoSki.Dtos.ClassDto>

@{
    ViewData["Title"] = "Index";
} @* Nosé para qué es *@

<h1>Class Management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="IndexUser" asp-route-finalizadas="false">Active classes</a> |
    <a asp-action="IndexUser" asp-route-finalizadas="true">Completed classes</a> |
    <a asp-action="IndexUser">All classes</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.StudentQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.ClassLevel)</th>
            <th>@Html.DisplayNameFor(model => model.InstructorName)</th>
            <th>@Html.DisplayNameFor(model => model.CityName)</th>
            <th>Reservations Time Range</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.StudentQuantity)</td>
                <td>@Html.DisplayFor(modelItem => item.ClassLevel)</td>
                <td>@Html.DisplayFor(modelItem => item.InstructorName)</td>
                <td>@Html.DisplayFor(modelItem => item.CityName)</td>
                <td>
                    @if (item.ReservationTimeRangeClassDto != null && item.ReservationTimeRangeClassDto.Any())
                    {
                        <ul>
                            @foreach (var res in item.ReservationTimeRangeClassDto)
                            {
                                <li>
                                    <strong>@res.StartDateOnly</strong> - <strong>@res.EndDateOnly</strong><br />
                                    @res.StartTimeOnly - @res.EndTimeOnly |
                                    @res.RemainingStudentsQuantity students
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No Reservation Time Range Created</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
